@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
:root
{
    --gradientColor: linear-gradient(45deg,#ff96a7,#008cff);
}

*
{
    margin: 0px;
    padding: 0px;
    font-family: "Century Gothic", sans-serif;
    font-size: 16px;
}

body
{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-image: url("/assets/bg.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

::-webkit-scrollbar
{
    display: none;
}

@keyframes slideLeft
{
    from
    {
        transform: translateX(80%);
    }

    to
    {
        transform: translateX(0px);
    }
}

header
{
    margin-top: 10%;
    margin-right: 30%;
    animation: slideLeft 1s forwards;
}

header p.h1
{
    font-size: 8vw;
    font-family: "Archivo Black", sans-serif;
    background: url("/assets/te.jpg");
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: slideLeft 1s forwards;
}

header p.h3
{
    font-size: 4.5vw;
    font-family: "Lobster", sans-serif;
    animation: slideLeft 1.5s forwards;
}

header p.h3 i
{
    font-size: 2vw;
    transform: rotate(130deg);
    position: absolute;
    left: 20.5%;
    padding-top: 10%;
    color: #494949;
}

header p#text3 {
    font-size: 1.5vw;
}

main
{
    display: flex;
    justify-content: center;
    padding: 3% 5%;
    width: 100vw;
}

.imgUpload
{
    justify-content: center;
    align-items: center;
    padding: 15%;
    border: 0.3vw dashed rgb(0, 56, 121);
    border-radius: 30px;
    animation: slideLeft 1.75s forwards;
    backdrop-filter: blur(7px);
    width: 50%;
}

.imgUpload .btn-group .btn
{
    outline-color: rgb(255, 255, 255);
}

@media screen and (max-width: 425px)
{
    header
    {
        margin-right: 0px;
    }
}
