@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
:root
{
    --gradientColor: linear-gradient(45deg,#ff96a7,#008cff);
    font-size: 0.95vw;
}

*
{
    margin: 0px;
    padding: 0px;
    font-family: "Century Gothic", sans-serif;
}

body
{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-image: url("bg.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

::-webkit-scrollbar
{
    display: none;
}

@keyframes slideLeft
{
    from
    {
        transform: translateX(80%);
    }

    to
    {
        transform: translateX(0px);
    }
}

header
{
    margin-top: 10%;
    margin-right: 30%;
    animation: slideLeft 1s forwards;
}

header p.h1
{
    font-size: 8rem;
    font-family: "Archivo Black", sans-serif;
    background: url("text.jpg");
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: slideLeft 1s forwards;
}

header p.h3
{
    font-size: 4.5rem;
    font-family: "Lobster", sans-serif;
    animation: slideLeft 1.5s forwards;
}

header p.h3 i
{
    font-size: 2rem;
    transform: rotate(130deg);
    position: absolute;
    left: 20.5%;
    padding-top: 10%;
    color: #494949;
}

header p#text3
{
    font-size: 1.5rem;
}
main
{
    display: flex;
    justify-content: center;
    padding: 3% 5%;
    width: 100vw;
}

.imgUpload
{
    justify-content: center;
    align-items: center;
    padding: 15%;
    border: 0.3rem dashed #003879;
    border-radius: 30px;
    animation: slideLeft 1.75s forwards;
    backdrop-filter: blur(5px);
    background-color: #0034797b;
    width: 50rem;
}
.imgUpload .btn-group
{
    width: 15rem;
    height: 3rem;
}
.imgUpload .btn-group .btn
{
    border-radius: 1rem;
    color: #008cff;
    background-color: #0000009a;
}
.imgUpload .btn-group .btn:hover
{
    background-color: #0096ec;
    color: #000000;
}
.imgUpload:hover
{
    border: 0.3rem solid #003879;
    background-color: #003479b6;
    transition: 0.2s all;
}
main
{
    padding: 3% 5%;
}
@media (max-width: 425px)
{
    :root
    {
        font-size: 3vw;
    }
    header
    {
        margin-right: 0;
        margin-left: 5%;
    }
    .imgUpload
    {
        width: 27.5rem;
        height: 17.5rem;
    }

    /* header p.h1
    {
        font-size: 17vw;
    }
    header p.h3
    {
        font-size: 11vw;
    }
    header p.h3 i
    {
        font-size: 4.5vw;
    }
    header p#text3
    {
        font-size: 2.5vw;
    } */
}